<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kcc.biz.dao.BoardRepository">

	<select id="listBasicBoard" statementType="CALLABLE" parameterType="boardVO" resultType="boardVO">
		<![CDATA[
			{ 
	            call PRA_Board_listBasicBoard (
            		#{SearchTxt}
            	)
			}
		]]>
	</select>
		
	<select id="getBoardDetail" statementType="CALLABLE" parameterType="boardVO" resultType="boardVO">
		<![CDATA[
			{ 
	            call PRA_Board_getBoardDetail (
	            	#{Seq}
	               ,#{Mode}
            	)
			}
		]]>
	</select>	
		
	<insert id="createBoardWrite" statementType="CALLABLE" parameterType="boardVO">
		<![CDATA[
			{ 
	            call PRA_Board_createBoardWrite (
	                #{BoardNm}
	               ,#{BoardContent}
	               ,#{AttId}
	               ,#{RegUserId}
            	)
			}
		]]>
	</insert>
	
	<insert id="updateBoardWrite" statementType="CALLABLE" parameterType="boardVO">
		<![CDATA[
			{ 
	            call PRA_Board_updateBoardWrite (
				    #{Seq}
	               ,#{BoardNm}
	               ,#{BoardContent}
            	)
			}
		]]>
	</insert>
	
	<insert id="deleteBoard" statementType="CALLABLE" parameterType="boardVO">
		<![CDATA[
			{ 
	            call PRA_Board_deleteBoard (
	            	#{Seq}
            	)
			}
		]]>
	</insert>
</mapper>