<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kcc.biz.dao.BotEaisRepository">
	
	<select id="listBotEaisSchedule" statementType="CALLABLE" parameterType="botEaisVO" resultType="botEaisVO">
		<![CDATA[
			{ 
	            call PRA_Bot_listEaisSchedule (
            		#{MenuId}
            	)
			}
		]]>
	</select>	
	
	<insert id="saveEaisSchedule" statementType="CALLABLE" parameterType="botBidChangeVO">
		<![CDATA[
			{ 
	            call PRA_Bot_saveEaisSchedule (
            		 #{Status}
            		,#{Seq}
            		,#{SiteCd}
            		,#{StartDate}
            		,#{FinishDate}
            		,#{FinishYn}
            		,#{EmpNo}
            		,#{SiteLocation}
            	)
			}
		]]>
	</insert>
	
	<select id="listEais" statementType="CALLABLE" parameterType="botEaisVO" resultType="botEaisVO">
		<![CDATA[
			{ 
	            call PRA_Bot_listEais (
            		#{RequestNo}
            	)
			}
		]]>
	</select>
	
	<select id="getEaisSiteLocationCombo" statementType="CALLABLE" parameterType="botEaisVO" resultType="botEaisVO">
		<![CDATA[
			{ 
	            call PRA_Bot_getEaisSiteLocationCombo (
            		
            	)
			}
		]]>
	</select>
	
	<select id="getEaisSiteCdCombo" statementType="CALLABLE" parameterType="botEaisVO" resultType="botEaisVO">
		<![CDATA[
			{ 
	            call PRA_Bot_getEaisSiteCdCombo (
            		
            	)
			}
		]]>
	</select>
	
</mapper>