<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kcc.biz.dao.BotKisconConstRepository">
		
	<select id="listKisconConstSubcontract" statementType="CALLABLE" parameterType="botKisconConstVO" resultType="botKisconConstVO">
		<![CDATA[
			{ 
	            call PRA_Bot_listKisconConstSubcontract (
            		#{RequestNo}
            	)
			}
		]]>
	</select>
	
	<select id="listKisconConstManage" statementType="CALLABLE" parameterType="botKisconConstVO" resultType="botKisconConstVO">
		<![CDATA[
			{ 
	            call PRA_Bot_listKisconConstManage (
            		#{SiteNm},
            		#{ContractNm}            		
            	)
			}
		]]>
	</select>
	
	<select id="listKisconFirstConstSubcontract" statementType="CALLABLE" parameterType="botKisconConstVO" resultType="botKisconConstVO">
		<![CDATA[
			{ 
	            call PRA_Bot_listKisconFirstConstSubcontract (
            		#{RequestNo}
            	)
			}
		]]>
	</select>
	
</mapper>