<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kcc.biz.dao.BotEseroRepository">
	
	<insert id="saveBotEseroTargetDate" statementType="CALLABLE" parameterType="botEseroVO">
		<![CDATA[
			{ 
	            call PRA_Bot_saveBotEseroTargetDate (
					#{MenuId}
	            	,#{EmpNo}
	            	,#{EseroTargetDate}
            	)
			}
		]]>
	</insert>
	
	<select id="listBotEseroTargetDate" statementType="CALLABLE" parameterType="botEseroVO" resultType="botEseroVO">
		<![CDATA[
			{ 
	            call PRA_Bot_listBotEseroTargetDate (
            		#{MenuId}
            	)
			}
		]]>
	</select>
	
	<select id="listBotEseroInvoiceList" statementType="CALLABLE" parameterType="botEseroVO" resultType="botEseroVO">
		<![CDATA[
			{ 
	            call PRA_Bot_listBotEseroInvoiceList (
            		#{RequestNo}
            	)
			}
		]]>
	</select>
	
	<select id="listBotEseroSlipList" statementType="CALLABLE" parameterType="botEseroVO" resultType="botEseroVO">
		<![CDATA[
			{ 
	            call PRA_Bot_listBotEseroSlipList (
            		#{RequestNo}
            	)
			}
		]]>
	</select>
	
	<select id="listBotEseroInvoiceSlipListManageTaxOn" statementType="CALLABLE" parameterType="botEseroVO" resultType="botEseroVO">
		<![CDATA[
			{ 
	            call PRA_Bot_listBotEseroInvoiceSlipListManageTaxOn (
            		#{YearMon}
            	   ,	#{ErrorYn}
            	)
			}
		]]>
	</select>
	
	<select id="listBotEseroInvoiceSlipListManageTaxOff" statementType="CALLABLE" parameterType="botEseroVO" resultType="botEseroVO">
		<![CDATA[
			{ 
	            call PRA_Bot_listBotEseroInvoiceSlipListManageTaxOff (
            		#{YearMon}
            	   ,	#{ErrorYn}
            	)
			}
		]]>
	</select>
	
	<select id="listBotEseroInvoiceSlipListManageOraCheckList" statementType="CALLABLE" parameterType="botEseroVO" resultType="botEseroVO">
		<![CDATA[
			{ 
	            call PRA_Bot_listBotEseroInvoiceSlipListManageOraCheckList (
            		#{YearMon}
            	   ,#{ErrorYn}
            	)
			}
		]]>
	</select>
	
	<select id="listBotEseroManageVendorInvoiceList" statementType="CALLABLE" parameterType="botEseroVO" resultType="botEseroVO">
		<![CDATA[
			{ 
	            call PRA_Bot_listBotEseroManageVendorInvoiceList (
            		#{VendorCd}
            	   ,#{RequestNo}
            	   ,#{YearMon}
            	)
			}
		]]>
	</select>
	
	<select id="listBotEseroManageVendorSlipList" statementType="CALLABLE" parameterType="botEseroVO" resultType="botEseroVO">
		<![CDATA[
			{ 
	            call PRA_Bot_listBotEseroManageVendorSlipList (
            		#{VendorCd}
            	)
			}
		]]>
	</select>
	
	<select id="getBotEseroManageVendorInfo" statementType="CALLABLE" parameterType="botEseroVO" resultType="botEseroVO">
		<![CDATA[
			{ 
	            call PRA_Bot_getBotEseroManageVendorInfo (
            		#{VendorCd}
            	)
			}
		]]>
	</select>

</mapper>