<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kcc.biz.dao.BotKisconConstRepository">
		
	<select id="listBotKisconConstSubcontract" statementType="CALLABLE" parameterType="botKisconConstVO" resultType="botKisconConstVO">
		<![CDATA[
			{ 
	            call PRA_Bot_listBotKisconConstSubcontract (
            		#{RequestNo}
            	)
			}
		]]>
	</select>
	
	<select id="listBotKisconConstManage" statementType="CALLABLE" parameterType="botKisconConstVO" resultType="botKisconConstVO">
		<![CDATA[
			{ 
	            call PRA_Bot_listBotKisconConstManage (
            		#{SiteNm},
            		#{ContractNm}            		
            	)
			}
		]]>
	</select>
	
	<select id="listBotKisconFirstConstSubcontract" statementType="CALLABLE" parameterType="botKisconConstVO" resultType="botKisconConstVO">
		<![CDATA[
			{ 
	            call PRA_Bot_listBotKisconFirstConstSubcontract (
            		#{RequestNo}
            	)
			}
		]]>
	</select>
	
</mapper>