<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kcc.biz.dao.BotEngineerEduRepository">
	
	<select id="listBotEngineerConstEduPass" statementType="CALLABLE" parameterType="botEngineerEduVO" resultType="botEngineerEduVO">
		<![CDATA[
			{ 
	            call PRA_Bot_listBotEngineerConstEduPass (
            		#{RequestNo}
            	)
			}
		]]>
	</select>
	
	<select id="listBotEngineerConstEduFail" statementType="CALLABLE" parameterType="botEngineerEduVO" resultType="botEngineerEduVO">
		<![CDATA[
			{ 
	            call PRA_Bot_listBotEngineerConstEduFail (
            		#{RequestNo}
            	)
			}
		]]>
	</select>
	
	<select id="listBotEngineerEduManageQualityEdu" statementType="CALLABLE" parameterType="botEngineerEduVO" resultType="botEngineerEduVO">
		<![CDATA[
			{ 
	            call PRA_Bot_listBotEngineerEduManageQualityEdu (
            		#{OrgTypeCd}
            		,#{DutyNm}
            		,#{UserNm}
            	)
			}
		]]>
	</select>
	
	<select id="listBotEngineerEduManageConstEdu" statementType="CALLABLE" parameterType="botEngineerEduVO" resultType="botEngineerEduVO">
		<![CDATA[
			{ 
	            call PRA_Bot_listBotEngineerEduManageConstEdu (
            		#{OrgTypeCd}
            		,#{DutyNm}
            		,#{UserNm}
            	)
			}
		]]>
	</select>
	
</mapper>