<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kcc.biz.dao.BotBidChangeRepository">
		
	<select id="listBotBidChangeG2b" statementType="CALLABLE" parameterType="botBidChangeVO" resultType="botBidChangeVO">
		<![CDATA[
			{ 
	            call PRA_Bot_listBotBidChangeG2b (
            		#{ConstNm}
            	   ,#{StartReceiveDate}
            	   ,#{EndReceiveDate}
            	)
			}
		]]>
	</select>
	
	<select id="listBotBidChangeTargetBid" statementType="CALLABLE" parameterType="botBidChangeVO" resultType="botBidChangeVO">
		<![CDATA[
			{ 
	            call PRA_Bot_listBotBidChangeTargetBidList (
            		#{MenuId}
            	)
			}
		]]>
	</select>
	
	<insert id="createBotBidChangeTargetBid" statementType="CALLABLE" parameterType="botBidChangeVO">
		<![CDATA[
			{ 
	            call PRA_Bot_createBotBidChangeTargetBid (
            		 #{ManageNo}
            		,#{EmpNo}
            	)
			}
		]]>
	</insert>	
	
	<update id="deleteBotBidChangeTargetBid" statementType="CALLABLE" parameterType="botBidChangeVO">
		<![CDATA[
			{ 
	            call PRA_Bot_deleteBotBidChangeTargetBid (
            		 #{ManageNo}
            	)
			}
		]]>
	</update>	
	
	<select id="listBotBidChange" statementType="CALLABLE" parameterType="botBidChangeVO" resultType="botBidChangeVO">
		<![CDATA[
			{ 
	            call PRA_Bot_listBotBidChangeList (
            		#{MenuId}
            	   ,#{RequestNo}
            	)
			}
		]]>
	</select>
</mapper>