<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kcc.biz.dao.BotEngineerRepository">
		
	<select id="listBotEngineerBasic" statementType="CALLABLE" parameterType="botEngineerVO" resultType="botEngineerVO">
		<![CDATA[
			{ 
	            call PRA_Bot_listBotEngineerBasic (
            		#{RequestNo}
            	)
			}
		]]>
	</select>
	
	<select id="listBotEngineerQualityRank" statementType="CALLABLE" parameterType="botEngineerVO" resultType="botEngineerVO">
		<![CDATA[
			{ 
	            call PRA_Bot_listBotEngineerQualityRank (
            		#{RequestNo}
            	)
			}
		]]>
	</select>
	
	<select id="listBotEngineerQualityEduPass" statementType="CALLABLE" parameterType="botEngineerVO" resultType="botEngineerVO">
		<![CDATA[
			{ 
	            call PRA_Bot_listBotEngineerQualityEduPass (
            		#{RequestNo}
            	)
			}
		]]>
	</select>
	
	<select id="listBotEngineerQualityEduFail" statementType="CALLABLE" parameterType="botEngineerVO" resultType="botEngineerVO">
		<![CDATA[
			{ 
	            call PRA_Bot_listBotEngineerQualityEduFail (
            		#{RequestNo}
            	)
			}
		]]>
	</select>
	
	<select id="listBotEngineerCareerList" statementType="CALLABLE" parameterType="botEngineerVO" resultType="botEngineerVO">
		<![CDATA[
			{ 
	            call PRA_Bot_listBotEngineerCareerList (
            		#{RequestNo}
            	)
			}
		]]>
	</select>
	
	<select id="listBotEngineerManage" statementType="CALLABLE" parameterType="botEngineerVO" resultType="botEngineerVO">
		<![CDATA[
			{ 
	            call PRA_Bot_listBotEngineerManage (
            	    #{menuId}
            	   ,#{OrgTypeCd}
            	   ,#{DutyNm}
            	   ,#{UserNm}
            	)
			}
		]]>
	</select>
	
	<select id="listBotEngineerManageCareerList" statementType="CALLABLE" parameterType="botEngineerVO" resultType="botEngineerVO">
		<![CDATA[
			{ 
	            call PRA_Bot_listBotEngineerManageCareerList (       
            	   #{OrgTypeCd}     		
            	  ,#{UserId}
            	  ,#{UserNm}
            	  ,#{ResNo}
            	)
			}
		]]>
	</select>
	
	<select id="listBotEngineerTargetUserList" statementType="CALLABLE" parameterType="botEngineerVO" resultType="botEngineerVO">
		<![CDATA[
			{ 
	            call PRA_Bot_listBotEngineerTargetUserList ( 
	              #{OrgTypeCd}
	             ,#{UserNm}
	             ,#{ResNo}
            	)
			}
		]]>
	</select>
	
	<update id="deleteBotEngineerTargetUser" statementType="CALLABLE" parameterType="botEngineerVO">
		<![CDATA[
			{ 
	            call PRA_Bot_deleteBotEngineerTargetUser (
            		 #{UserId}
            	)
			}
		]]>
	</update>
	
	<insert id="createBotEngineerTargetUser" statementType="CALLABLE" parameterType="botEngineerVO">
		<![CDATA[
			{ 
	            call PRA_Bot_createBotEngineerTargetUser (
            		 #{UserId}
            		,#{OrgTypeCd}
            		,#{EmpNo}
            	)
			}
		]]>
	</insert>
	
	<select id="listBotEngineerTargetUserSearchUser" statementType="CALLABLE" parameterType="botEngineerVO" resultType="botEngineerVO">
		<![CDATA[
			{ 
	            call PRA_Bot_listBotEngineerTargetUserSearchUser ( 
	              #{UserNm}
            	)
			}
		]]>
	</select>	
</mapper>