<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kcc.biz.dao.CodeRepository">

	<select id="listCodeProcedure" statementType="CALLABLE" parameterType="codeVO" resultType="codeVO">
		<![CDATA[
			{ 
	            call PRA_Code_listCodeProcedure (
	            	#{ProcedureNm}
	            	,#{Cd}
            	)
			}
		]]>
	</select>
	
	<select id="listCodeTree" statementType="CALLABLE" parameterType="codeVO" resultType="codeVO">
		<![CDATA[
			{ 
	            call PRA_Code_listCodeTree (
	            	#{ViewNode}
            	)
			}
		]]>
	</select>
	
	<select id="listCodeChild" statementType="CALLABLE" parameterType="codeVO" resultType="codeVO">
		<![CDATA[
			{ 
	            call PRA_Code_listCodeChild (
	            	#{UpCd}
            	)
			}
		]]>
	</select>
	
	<select id="saveCodeManage" statementType="CALLABLE" parameterType="codeVO" resultType="codeVO">
		<![CDATA[
			{ 
	            call PRA_Code_saveCode (
	                #{Status}
	               ,#{Cd}
	               ,#{CdNm}
	               ,#{UpCd}
	               ,#{Lvl}
	               ,#{Ord}
	               ,#{UseYn}
	               ,#{EmpNo}
            	)
			}
		]]>
	</select>
	<select id="getGridCodeCombo" statementType="CALLABLE" parameterType="codeVO" resultType="codeVO">
		<![CDATA[
			{ 
	            call PRA_Code_getGridCodeCombo (
	            	#{UpCd}
            	)
			}
		]]>
	</select>
	
</mapper>