<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kcc.biz.dao.HomeRepository">

	<select id="listTimeLine" statementType="CALLABLE" parameterType="homeVO" resultType="homeVO">
		<![CDATA[
			{ 
	            call PRA_Home_listTimeLine (
	            	#{WorkTypeCd}
            		,#{CallDate}
            	)
			}
		]]>
	</select>
	
	<select id="listDeptRunTime" statementType="CALLABLE" parameterType="homeVO" resultType="homeVO">
		<![CDATA[
			{ 
	            call PRA_Home_listDeptRunTime (
            		#{WorkTypeCd}
            	)
			}
		]]>
	</select>

	
</mapper>