<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kcc.biz.dao.MenuRepository">

	<select id="listCrawlMenu" statementType="CALLABLE" parameterType="menuVO" resultType="menuVO">
		<![CDATA[
			{ 
	            call PRA_Menu_listCrawlMenu (
            		#{SearchTxt}
            	)
			}
		]]>
	</select>
	
	<select id="getCrawlMenu" statementType="CALLABLE" parameterType="menuVO" resultType="menuVO">
		<![CDATA[
			{ 
	            call PRA_Menu_getCrawlMenu (
            		#{MenuId}
            		,#{EmpNo}
            	)
			}
		]]>
	</select>
	
	<select id="listOcrMenu" statementType="CALLABLE" parameterType="menuVO" resultType="menuVO">
		<![CDATA[
			{ 
	            call PRA_Menu_listOcrMenu (
            		#{SearchTxt}
            	)
			}
		]]>
	</select>
	
	<select id="getOcrMenu" statementType="CALLABLE" parameterType="menuVO" resultType="menuVO">
		<![CDATA[
			{ 
	            call PRA_Menu_getOcrMenu (
            		#{MenuId}
            		,#{EmpNo}
            	)
			}
		]]>
	</select>
	
	<select id="listBotMenu" statementType="CALLABLE" parameterType="menuVO" resultType="menuVO">
		<![CDATA[
			{ 
	            call PRA_Menu_listBotMenu (
            		#{SearchTxt}
            	)
			}
		]]>
	</select>

	<select id="getBotMenu" statementType="CALLABLE" parameterType="menuVO" resultType="menuVO">
		<![CDATA[
			{ 
	            call PRA_Menu_getBotMenu (
            		#{MenuId}
            		,#{EmpNo}
            	)
			}
		]]>
	</select>
	
	<select id="getMenuAuth" statementType="CALLABLE" parameterType="menuVO" resultType="menuVO">
		<![CDATA[
			{ 
	            call PRA_Menu_getMenuAuth (
	            	#{UrlType}
            		,#{MenuId}
            		,#{UserId}
            		,#{TitleCd}
            		,#{DeptCd}
            	)
			}
		]]>
	</select>	
	
</mapper>