<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kcc.biz.dao.MenuRepository">

	<select id="listCrawlMenu" statementType="CALLABLE" parameterType="menuVO" resultType="menuVO">
		<![CDATA[
			{ 
	            call PRA_Menu_listCrawlMenu (
            		#{SearchTxt}
            	)
			}
		]]>
	</select>
	
	<select id="getCrawlMenu" statementType="CALLABLE" parameterType="menuVO" resultType="menuVO">
		<![CDATA[
			{ 
	            call PRA_Menu_getCrawlMenu (
            		#{MenuId}
            		,#{EmpNo}
            	)
			}
		]]>
	</select>
	
	<select id="listOcrMenu" statementType="CALLABLE" parameterType="menuVO" resultType="menuVO">
		<![CDATA[
			{ 
	            call PRA_Menu_listOcrMenu (
            		#{SearchTxt}
            	)
			}
		]]>
	</select>
	
	<select id="getOcrMenu" statementType="CALLABLE" parameterType="menuVO" resultType="menuVO">
		<![CDATA[
			{ 
	            call PRA_Menu_getOcrMenu (
            		#{MenuId}
            		,#{EmpNo}
            	)
			}
		]]>
	</select>
	
	<select id="listBotMenu" statementType="CALLABLE" parameterType="menuVO" resultType="menuVO">
		<![CDATA[
			{ 
	            call PRA_Menu_listBotMenu (
            		#{SearchTxt}
            		,#{EmpNo}
            		,#{CategoryCd}
            	)
			}
		]]>
	</select>

	<select id="getBotMenu" statementType="CALLABLE" parameterType="menuVO" resultType="menuVO">
		<![CDATA[
			{ 
	            call PRA_Menu_getBotMenu (
            		#{MenuId}
            		,#{EmpNo}
            	)
			}
		]]>
	</select>
	
	<select id="getMenuAuth" statementType="CALLABLE" parameterType="menuVO" resultType="menuVO">
		<![CDATA[
			{ 
	            call PRA_Menu_getMenuAuth (
	            	#{UrlType}
            		,#{MenuId}
            		,#{UserId}
            		,#{DutyCd}
            		,#{DeptCd}
            	)
			}
		]]>
	</select>	
	
	<select id="listMenuTree" statementType="CALLABLE" parameterType="menuVO" resultType="menuVO">
		<![CDATA[
			{ 
	            call PRA_Menu_listMenuTree (
            		#{ViewNode}
            	)
			}
		]]>
	</select>
	
	<select id="listMenuChild" statementType="CALLABLE" parameterType="menuVO" resultType="menuVO">
		<![CDATA[
			{ 
	            call PRA_Menu_listMenuChild (
	            	#{UpMenuId}
            	)
			}
		]]>
	</select>
	
	<update id="saveMenuManage" statementType="CALLABLE" parameterType="menuVO" >
		<![CDATA[
			{ 
	            call PRA_Menu_saveMenu (
	                #{Status}
	               ,#{MenuId}
	               ,#{MenuNm}
	               ,#{UpMenuId}
	               ,#{TaskTypeCd}
	               ,#{ExecTypeCd}
	               ,#{Lvl}
	               ,#{Ord}
	               ,#{RunUrl}
	               ,#{ManageUrl}
	               ,#{Content}
	               ,#{UseYn}
	               ,#{EmpNo}
	               ,#{DeptCd}
	               ,#{TimeTypeCd}
	               ,#{RunSeq}
	               ,#{RunTime}
	               ,#{CategoryCd}
	               ,#{NoticeTaskYn}
	               ,#{RequestDeptCd}
            	)
			}
		]]>
	</update>
	
	<select id="listMenuAuthRunChild" statementType="CALLABLE" parameterType="menuVO" resultType="menuVO">
		<![CDATA[
			{ 
	            call PRA_Menu_listMenuAuthRunChild (
	            	#{MenuId}
            	)
			}
		]]>
	</select>
	
	<select id="listMenuAuthManageChild" statementType="CALLABLE" parameterType="menuVO" resultType="menuVO">
		<![CDATA[
			{ 
	            call PRA_Menu_listMenuAuthManageChild (
	            	#{MenuId}
            	)
			}
		]]>
	</select>
	
	<select id="listAuthManageSearchUser" statementType="CALLABLE" parameterType="menuVO" resultType="menuVO">
		<![CDATA[
			{ 
	            call PRA_Menu_listAuthManageSearchUser (
	            	#{MenuId}
	               ,#{MenuType}
	               ,#{SearchTxt}
            	)
			}
		]]>
	</select>
	
	<select id="listAuthManageSearchDegree" statementType="CALLABLE" parameterType="menuVO" resultType="menuVO">
		<![CDATA[
			{ 
	            call PRA_Menu_listAuthManageSearchDegree (
	            	#{MenuId}
	               ,#{MenuType}
	               ,#{SearchTxt}
            	)
			}
		]]>
	</select>
	
	<select id="listAuthManageSearchDept" statementType="CALLABLE" parameterType="menuVO" resultType="menuVO">
		<![CDATA[
			{ 
	            call PRA_Menu_listAuthManageSearchDept (
	            	#{MenuId}
	               ,#{MenuType}
	               ,#{SearchTxt}
            	)
			}
		]]>
	</select>
		
	<insert id="createAuthManage" statementType="CALLABLE" parameterType="menuVO" >
		<![CDATA[
			{ 
	            call PRA_Menu_createAuthManage (
	            	#{MenuId}
	               ,#{MenuType}
	               ,#{AuthTypeCd}
	               ,#{AuthType}
	               ,#{EmpNo}
            	)
			}
		]]>
	</insert>
	
	<update id="deleteAuthManage" statementType="CALLABLE" parameterType="menuVO">
		<![CDATA[
			{ 
	            call PRA_Menu_deleteAuthManage (
            		  #{MenuId}
            		 ,#{MenuType}
            		 ,#{AuthType}
            	)
			}
		]]>
	</update>
	
	<select id="listMenuManageSearchDept" statementType="CALLABLE" parameterType="menuVO" resultType="menuVO">
		<![CDATA[
			{ 
	            call PRA_Menu_listMenuManageSearchDept (
	            	#{MenuId}
	               ,#{SearchTxt}
	               ,#{DeptSearchType}
            	)
			}
		]]>
	</select>
	
	
</mapper>