<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kcc.biz.dao.ProposalRepository">

	<select id="listProposal" statementType="CALLABLE" parameterType="proposalVO" resultType="proposalVO">
		<![CDATA[
			{ 
	            call PRA_Proposal_listProposal (
            		#{SearchTxt}
            	)
			}
		]]>
	</select>
	
	<select id="getProposalDetail" statementType="CALLABLE" parameterType="proposalVO" resultType="proposalVO">
		<![CDATA[
			{ 
	            call PRA_Proposal_getProposalDetail (
	            	#{ProposalNo}
	               ,#{Mode}
            	)
			}
		]]>
	</select>	
	
	<insert id="createProposalWrite" statementType="CALLABLE" parameterType="proposalVO">
		<![CDATA[
			{ 
	            call PRA_Proposal_createProposalWrite (
					#{MenuId}
	               ,#{ProposalNm}
	               ,#{ProposalContent}
	               ,#{AttId}
	               ,#{ProposalDeptCd}
	               ,#{RegUserId}
            	)
			}
		]]>
	</insert>
	
	<insert id="updateProposalWrite" statementType="CALLABLE" parameterType="proposalVO">
		<![CDATA[
			{ 
	            call PRA_Proposal_updateProposalWrite (
				    #{ProposalNo}
				   ,#{MenuId}
	               ,#{ProposalNm}
	               ,#{ProposalContent}
	               ,#{AttId}
            	)
			}
		]]>
	</insert>
	
	<insert id="deleteProposal" statementType="CALLABLE" parameterType="proposalVO">
		<![CDATA[
			{ 
	            call PRA_Proposal_deleteProposal (
	            	#{ProposalNo}
            	)
			}
		]]>
	</insert>
	
	<insert id="saveProposalReview" statementType="CALLABLE" parameterType="proposalVO">
		<![CDATA[
			{ 
	            call PRA_Proposal_saveProposalReview (
				    #{ProposalNo}
				   ,#{StatusCd}
	               ,#{ReviewContent}
	               ,#{RegUserId}
            	)
			}
		]]>
	</insert>
		
</mapper>